<%- include('../includes/head.ejs') %>
</head>
<body>
<%- include('../includes/navigation.ejs') %>
<main >
    <% if (products.length > 0) { %>
        <div class="cart__container">
        <% products.forEach(product => { %>
        <div class="cart">
            <h1><%= product.productId.title %></h1>
            <img class="cart__img" src="<%= product.productId.imageUrl %>" alt="<%= product.productId.title %>">
            <h3><%= product.productId.price %></h3>
            <p><%= product.productId.description %></p>
            <h3>Quantity -> <%= product.quantity %></h3>
            <form action="/cart-delete-item" method="POST">
                <button type="submit" class="btn btn__delete">Delete</button>
                <input type="hidden" name="productId" value="<%= product.productId._id %>">
            </form>
        </div>
        <%  }) %>
    </div>
        <div class="order-container">
            <hr>
        <form action="/create-order" method="POST">
        <button class="btn" type="submit">Checkout</button>
        </form>
    </div>
    <% } else { %>
    <h1>Cart Is Empty</h1>
    <% } %>
</main>

<%- include('../includes/ends.ejs') %>