<%- include('../includes/head.ejs') %>
</head>
<body>
<%- include('../includes/navigation.ejs') %>
<main>
    <% products.forEach(({product, quantity}) => { %>
        <h1><%= product.title %></h1>
        <img src="<%= product.imageUrl %>" alt="<%= product.title %>">
        <h3><%= product.price %></h3>
        <p><%= product.description %></p>
        <h3>Quantity -> <%= quantity %></h3>
    <% }) %>
</main>

<%- include('../includes/ends.ejs') %>